/* base: mdb-color darken-2 #2e3951 */
body {
  background-color: #fff;
  color: #000;
}

a, a:visited {
  color: #2e3951;
}

a:hover {
  color: #1c2331;
}

.themecolor {
  background-color: #2e3951;
  color: #fff;
}

.btn.themecolor {
  background-color: #2e3951;
  color: #fff;
}

.themecolor a,
.themecolor a:visited {
  color: #fff !important;
}

/* Navbar */
.navbar a,
.navbar a:visited {
  background-color: #2e3951 !important;
  color: #fff !important;
}

.navbar .dropdown-menu a,
.navbar .dropdown-menu a:visited {
  background-color: #2e3951 !important;
  color: #fff !important;
}

a.nav-link:hover {
  border-bottom: 2px solid #fff;
}

.active a.nav-link {
  border-bottom: 2px solid #eceff1;
}

.navbar .dropdown-menu a:hover {
  color: #fff !important;
  background-color: rgba(255,255,255,0.05) !important;
}

/* Widget area */
.card.widget li {
  border-color: #59568d;
}

.widget_calendar #today {
  border-color:  #59568d;
}

/* Pagination */
.page-item.active .page-link {
  background-color: #2e3951;
  border-color: #2e3951;
  color: #fff;
}

.page-item .page-link {
  color: #2e3951;
}

