body#tinymce.wp-editor {
	font-family: Roboto,sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 400;
	word-wrap: break-word;
}

body#tinymce.wp-editor h1 {
	font-weight: 300;
	font-size: 2.5rem;
	margin-bottom: .5rem;
	line-height: 1.2;
}

body#tinymce.wp-editor h2 {
	font-weight: 300;
	font-size: 2rem;
	margin-bottom: .5rem;
	line-height: 1.2;
}

body#tinymce.wp-editor h3 {
	font-weight: 400;
	font-size: 1.75rem;
	margin-bottom: 1rem;
	line-height: 1.2;
}

body#tinymce.wp-editor h4 {
	font-weight: 400;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	line-height: 1.2;
}

body#tinymce.wp-editor h5 {
	font-weight: 400;
	font-size: 1rem;
	margin-bottom: 1rem;
	line-height: 1.2;
}

body#tinymce.wp-editor h6 {
	font-weight: bold;
	font-size: 0.67em;
	margin-bottom: 1rem;
	line-height: 1.5;
}
